:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.generalContentBox {
    display:inline-block;
    margin: 25px 5px;
    width: 100%;
    justify-content:space-evenly;
    padding:10px;
    background-color: #1a1c4bb5;
    border: #535bf2;
    border-radius: .65em;
    -webkit-font-smoothing: antialiased;
}

.inputBox{
    border-radius: 8px;
    border: 3px solid ;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color:#4e56ef;
    border-color: #535bf2;
    text-align: center;
    
    
}
.inputBox:focus-visible{
    outline-width: 2px;
    outline-color:#f9f9f9;
    outline-style:groove;
}
::placeholder {
  color:#f9f9f9; /* Change the color */
  font-style:initial;
  font-family: monospace;
  font-weight: 500;
  opacity: 75%; /* Fixes Firefox's default lower opacity issue */
}
.trackList{
    
    margin: 5px 5px;
}
    

.trackContent {
    display:inline-flex;
    margin: 5px 5px;
    width: 80%;
    justify-content:space-between;
    padding:5px;
    border-bottom:3px solid #ffffff9f;
    border-radius: .15em;
    -webkit-font-smoothing: antialiased;
}
h3 {
  display: block;
  font-weight: 500;
  font-size: 1.25em;
  margin: 2px 2px;
  letter-spacing: 0.1em;
  -webkit-font-smoothing: antialiased;
}
p {
  display: block;
  margin: 2px 2px;
  font-weight: 300;
  letter-spacing: 0.1em;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 20px;
  border: transparent;
  padding: 0.6em 1.2em;
  font-size: 1.25em;
  font-weight: 600;
  font-family: inherit;
  background-color: inherit;
  cursor: pointer;
  
}
button:hover {
  text-shadow: 0 0 20px #f6f6f6, 0 0 30px #ffdc16, 0 0 40px #e60073;;
}
button:active,

button:focus-visible {
 
  background-color:#4e56ef;
}

@media (prefers-color-scheme: light) {
  :root {
    color:#f9f9f9;
    background-image: linear-gradient(to bottom , #4e56ef, #33378b);
  }
  a:hover {
    color: #747bff;
  }

  .trackList{
    
    color: #f9f9f9;
  }
}
